:root {
    background: rgba(255,255,255,1);
    background: -webkit-linear-gradient(#ffffff, #e6e6e6);
    background: -moz-linear-gradient(#ffffff, #e6e6e6);
    background: linear-gradient(#ffffff, #e6e6e6);
    background: -ms-linear-gradient(#ffffff, #e6e6e6);
    background: -o-linear-gradient(#ffffff, #e6e6e6);
  }
  
  body {
    margin: 0;
    min-height: 100vh;
  }
  
  /* The emerging W3C standard
     that is currently Firefox-only */
     * {
      scrollbar-width: thin;
      scrollbar-color: #f1f1f1 #888;
    }
    
    /* Works on Chrome/Edge/Safari */
    *::-webkit-scrollbar {
      width: 12px;
    }
    *::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    *::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
    }
    